table, td{
    border: 1px solid;
}
th, td{
    padding: 7px;
}



th{
    background-color: #0000FF;
    font-family: serif;
    color: white;
}

img{
    width: 90px;
    position: absolute; top: 0px; left: 0px;
    position: fixed;
}
